@charset "utf-8";
@import url(../style.css);

.main_top {
  margin: 30px 10%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.main_top {
  margin-top: 90px;
  margin-bottom: 40px;
  height: 300px;
}
.top_lf > h2 {
  width: 300px;
  height: 90px;
  font-size: 28px;
  font-weight: bold;
  line-height: 90px;
  text-align: center;
  background: url("../image/begie_bg.png") no-repeat center center;
  background-size: 160px 50px;
}
.top_rt {
  width: auto;
  padding: 1% 2%;
  background: #f8f6f0;
  border-radius: 5px;
  height: 250px;
}
.top_rt > p {
  height: 90px;
  line-height: 90px;
}
.top_rt > .top_txt {
  font-size: 21px;
  color: #232323;
  height: 90px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.main_contents {
  width: 80%;
  margin: 0 10% 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  gap: 50px 35px;
  height: auto;
}
.content {
  width: 200px;
  height: 200px;
}
.content > h4 {
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.content_bg > img {
  width: 200px;
  height: 200px;
  display: block;
}
.content:nth-child(1) > .content_bg > img {
  background: url("../image/brand_logo/after_pray.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(2) > .content_bg > img {
  background: url("../image/brand_logo/artifacts.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(3) > .content_bg > img {
  background: url("../image/brand_logo/anderssonbell.png") no-repeat center
    center;
  background-size: 50%;
}
.content:nth-child(4) > .content_bg > img {
  background: url("../image/brand_logo/beslow.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(5) > .content_bg > img {
  background: url("../image/brand_logo/ballute.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(6) > .content_bg > img {
  background: url("../image/brand_logo/covernat.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(7) > .content_bg > img {
  background: url("../image/brand_logo/deho.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(8) > .content_bg > img {
  background: url("../image/brand_logo/fallett.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(9) > .content_bg > img {
  background: url("../image/brand_logo/horlisun.png") no-repeat center center;
  background-size: 50%;
}
.content:nth-child(10) > .content_bg > img {
  background: url("../image/brand_logo/insilence.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(11) > .content_bg > img {
  background: url("../image/brand_logo/insilence.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(12) > .content_bg > img {
  background: url("../image/brand_logo/lordjohngrey.png") no-repeat center
    center;
  background-size: 70%;
}
.content:nth-child(13) > .content_bg > img {
  background: url("../image/brand_logo/liful.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(14) > .content_bg > img {
  background: url("../image/brand_logo/lmc.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(15) > .content_bg > img {
  background: url("../image/brand_logo/Matissethecurator.png") no-repeat center
    center;
  background-size: 70%;
}
.content:nth-child(16) > .content_bg > img {
  background: url("../image/brand_logo/nought.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(17) > .content_bg > img {
  background: url("../image/brand_logo/ourscope.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(18) > .content_bg > img {
  background: url("../image/brand_logo/perenn.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(19) > .content_bg > img {
  background: url("../image/brand_logo/satur.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(20) > .content_bg > img {
  background: url("../image/brand_logo/swellmob.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(21) > .content_bg > img {
  background: url("../image/brand_logo/uniformbridge.png") no-repeat center
    center;
  background-size: 70%;
}
.content:nth-child(22) > .content_bg > img {
  background: url("../image/brand_logo/urbanstoff.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(23) > .content_bg > img {
  background: url("../image/brand_logo/vivastudio.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(24) > .content_bg > img {
  background: url("../image/brand_logo/vdr.png") no-repeat center center;
  background-size: 60%;
}
.content:nth-child(25) > .content_bg > img {
  background: url("../image/brand_logo/wildbricks.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(26) > .content_bg > img {
  background: url("../image/brand_logo/wkndrs.png") no-repeat center center;
  background-size: 70%;
}
.content:nth-child(27) > .content_bg > img {
  background: url("../image/brand_logo/yale.png") no-repeat center center;
  background-size: 70%;
}
.info_bg {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0.4;
  z-index: 1000;
  /* right: 0; */
}
.brand_info_area {
  width: 800px;
  height: 400px;
  background: #fff;
  position: fixed;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1001;
  border: 15px solid #374476;
  box-sizing: border-box;
  display: flex;
}
.brand_logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand_info_txt {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  border-left: 1px solid #e0e0e0;
}
.info_txt_top {
  color: #555;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  position: relative;
}
.info_txt {
  font-size: 14px;
  color: #555;
  line-height: 25px;
}
.cancle {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.cancle > a {
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("../image/cancle.png") no-repeat center center;
  background-size: 25px 25px;
}

@media screen and (max-width: 1241px) and (min-width: 641px) {
  .main_top {
    flex-direction: column !important;
  }
  .top_rt {
    width: 80%;
    margin: 0 auto 20px;
  }
  .top_rt > .top_txt {
    font-size: 18px;
    height: 80px;
  }
  .info_txt_top {
    font-size: 12px;
    line-height: 30px;
  }
}
