@charset "utf-8";
@import url(../style.css);

.main_area {
  margin: 0 10%;
  padding-top: 100px;
  margin-bottom: 180px;
}
.main_area > h2 {
  width: 100px;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  background: url("../image/begie_bg.png") no-repeat;
  background-size: 100px 40px;
  text-align: center;
  line-height: 40px;
  margin-left: 50px;
}
.main_area > .ship_txt {
  width: 710px;
  background: #f8f6f0;
  padding: 3%;
  margin-top: 40px;
  position: relative;
  border-radius: 10px;
}
.ship_txt > p {
  margin-top: 40px;
  line-height: 2em;
}
.ship_txt > p:first-child {
  margin-top: 0;
}
.ship_img1 {
  position: absolute;
  top: -180px;
  right: -400px;
  /* transform: scale(0.65); */
}
.ship_img1 > .img_box1 {
  position: relative;
}
.ship1,
.ship2 {
  transform: scale(0.65);
}
.tape1 {
  display: block;
  position: absolute;
  top: 80px;
  right: 100px;
  width: 90px;
  height: 30px;
  background: url("../image/begie_bg.png") no-repeat;
  background-size: 90px 30px;
  transform: rotate(240deg);
  opacity: 0.4;
}

.ship_img2 {
  position: absolute;
  top: 150px;
  right: -490px;
}
.ship_img2 > .img_box2 {
  position: relative;
}
.tape2 {
  display: block;
  position: absolute;
  top: 80px;
  right: 200px;
  width: 90px;
  height: 30px;
  background: url("../image/begie_bg.png") no-repeat;
  background-size: 90px 30px;
  transform: rotate(120deg);
  opacity: 0.4;
}
